/* header */
.header{
    height: 260px;
    
}
.bg-header{
    
    background:  url(../img/header-bg.png) center / cover no-repeat;
   /*  background-image: url(../img/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    position: relative; */
}
.title-header{
    font-family: 'Pathway Extreme', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 98px;
    line-height: 119px;
    color: #FFFFFF;
    text-align: center;
}
.it{
    font-size: 125px;
    background: linear-gradient(85.52deg, #E40ECF 32.88%, #24C4E9 59.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.nav{
    position: relative; 
    display: flex;
    
  
  
}
#check-menu{
    display: none;
}
label{
    position: absolute;
    top: -65px;
    right: 56px;
    
    width: 35px;
    height: 15px;
    cursor: pointer;
    z-index: 99;
    display: flex;
    flex-direction: column;
    display: none;
    
}

.burger-line{
    
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: #FFFFFF;
}
.first{
    top: 0;
}
.second{
    top: 7px;
}
.third{
    top: 14px;
}

.list{
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    gap: 170px;
    transition: .3s all;/* добавим плавности */
}
.list-item{
    list-style-type: none;
}
.link-list{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}
.link-list:hover{
    color: #99ecff;
    transition: 0.5s all;
}


/* footer */
.bg-footer{
    height: 652px;
    background: linear-gradient(254.64deg, #24C4E9 6.81%, #E40ECF 128.6%);
    display: flex;
    gap: 370px;
    align-items: center;
    justify-content: center;
    
}

.social-footer{
    display: flex;
    gap: 80px;
    margin-top: 50px;
}
.social{
    width: 40px;
    height: 40px;
}
.list-footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.list-item-footer{
    list-style-type: none;
}
.link-list-footer{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}
.link-list-footer:hover{
    color: #99ecff;
    transition: 0.5s all;
}
.section-footer-two--part-one,
.section-footer-two--part-two{
    display: flex;
    align-items: end;
}
.arrow{
    margin-left: 20px;
    margin-bottom: 30px;
}
.text-letter{
    font-weight: 500;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}

@media(max-width:1440px){
    .bg-footer{
        gap: 100px;
    }
}
@media(max-width:1024px){
    .bg-footer{
        display: block;
        height: 900px;
        padding-left: 50px;
    }
    .letter{
        height: 200px;
        width: 250px;
    }
}
@media(max-width:920px){
    .bg-header{
        padding: 0;
    }
    label{
        display: block;
    }
    
    .title-header{
        font-size: 50px;
        margin-right: 437px;
    }
    .it{
        font-size: 70px;
    }
    
    .list{
        display: block;
        position: absolute;
        background-color: rgb(36 41 80);
        margin: 0;
        width: 100%;
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        bottom: 0;
        left: 0;
        transform: translateY(100%); 
    }
    .list-item{
        display: block;
        width: 100%;
        padding: 20px;
        font-size: 30px;
        border-top: 2px solid rgb(9, 12, 39);
    }
    #check-menu:checked ~ .list{
        max-height: 920px;
    }
    #check-menu:checked ~ label .first{
        transform: rotate(45deg) translateY(10px);
    }
    #check-menu:checked ~ label .second{
        transform: scale(0);
    }
    #check-menu:checked ~ label .third{
        transform: rotate(-45deg) translateY(-10px) translateX(-1px);
    }
}
@media(max-width:555px){
    .letter{
        width: 200px;
        height: 150px;
    }
    .arrow img{
        width:60px;
        height: 60px;
    }
}
@media(max-width:460px){
    .bg-footer{
        height: 800px;
    }
    .social-footer{
        display: flex;
        gap: 60px;
    }
    .section-footer-two{
        margin-top: 40px;
    }
    .letter{
        width: 160px;
        height: 120px;
    }
    .arrow img{
        width:40px;
        height: 40px;
    }
    .text-letter{
        font-size: 16px;
    }
}