*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Основная часть */
body{
    background: #2D3033;
}


.about__main{
    margin-top: 367px;
}

.container{
    max-width: 1228px;
    margin: 0 auto;
}

.about__main__title{
    margin-bottom: 98px;
    text-align: center;
    font-size: 127px;
    font-family: 'Inter';
    font-weight: 700;


    background: linear-gradient(#D784CF, #24C4E9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.club__title{
    color: #FFF;
    font-size: 53px;
    font-family: 'Inter';
    font-weight: 700;
    text-align: center;
}

.club_subtitle{
    color: #FFF;
    text-align: justify;
    font-size: 33px;
    font-family: 'Inter';
    font-weight: 500;
    margin-top: 73px;
}

.code__title{
     color: #FFF;
    font-size: 53px;
    font-family: 'Inter';
    font-weight: 700;
    text-align: center;
    margin-top: 182px;
    margin-bottom: 73px;

}

.code__subtitle{
    color: #FFF;
    text-align: justify;
    font-size: 33px;
    font-family: 'Inter';
    font-weight: 500;
}

.coordinator__title{
    color: #FFF;
font-size: 53px;
font-family: 'Inter';
font-weight: 700;
text-align: center;
margin-top: 184px;
margin-bottom: 73px;

}

.coordinator__subtitle{
    color: #FFF;
text-align: justify;
font-size: 33px;
font-family: 'Inter';
font-weight: 500;
}

.teacher__title{
    margin-bottom: 73px;
    margin-top: 184px;
    color: #FFF;
    font-size: 53px;
    font-family: 'Inter';
    font-weight: 700;
    text-align: center;
}

.teacher_subtitle{
    color: #FFF;
text-align: justify;
font-size: 33px;
font-family: 'Inter';
font-weight: 500;
}


/* пятна c левой стороны */

.left__upper__spot{
    position: absolute;
    left: 0px;
    top: 661px;
    z-index: -1;
}

.left__midth__spot{
    position: absolute;
    z-index: -1;
    left: 0px;
    margin-top: -1620px;
}

.left__lower__spot{
    position: absolute;
    z-index: -1;
    left: 0px;
    margin-top: -530px;
}

/* пятна с правой стороны */

.right__upper__spot{
    position: absolute;
    margin-left: 1096px;
    margin-top: -3300px;
    z-index: -1;
}

.right__midth__spot{
    position: absolute;
    margin-left: 1180px;
    margin-top: -2000px;
    z-index: -1;
}

.right__lower__spot{
    position: absolute;
    margin-left: 1131px;
    margin-top: -940px;
    z-index: -1;
}


@media (max-width:1540px){
    .container{
        max-width: 1028px;
    }

    .left__upper__spot{
        width: 422px;
        height: 786px;
    }

    .left__midth__spot{
        width: 406px;
        height: 604px;
        bottom: -2200px;
    }

    .left__lower__spot{
        width: 296px;
        height: 511px;
        bottom: -3400px;
    }



    .right__upper__spot{
        width: 369px;
        height: 569px;
        margin-left: 915px;
        bottom: -900px;
    }

    .right__midth__spot{
        width: 284px;
        height: 508px;
        margin-left: 1000px;
    }

    .right__lower__spot{
        width: 333px;
        height: 585px;
        margin-left: 950px;
    }
}


@media (max-width:1400px){
    .container{
        max-width: 800px;
    }

        .left__upper__spot{
        width: 327px;
        height: 736px;
        top: 950px;
    }

    .left__midth__spot{
        width: 356px;
        height: 554px;
        bottom: -2600px;
    }

    .left__lower__spot{
        width: 246px;
        height: 461px;
        margin-bottom: -500px;
    }



    .right__upper__spot{
        width: 319px;
        height: 519px;
        margin-left: 780px;
    }

    .right__midth__spot{
        width: 234px;
        height: 458px;
        margin-left: 865px;
    }

    .right__lower__spot{
        width: 283px;
        height: 535px;
        margin-left: 815px;
    }


}


@media (max-width:1100px){
    .container{
        max-width: 600px;
    }

 .about__main__title{
        font-size: 117px;
    }

    .club__title{
        font-size: 46px;
    }

    .code__title{
        font-size: 46px;
    }

    .coordinator__title{
        font-size: 46px;
    }

    .teacher__title{
        font-size: 46px;
    }




    .club_subtitle{
        font-size: 26px;
    }

    .code__subtitle{
        font-size: 26px;
    }

    .coordinator__subtitle{
        font-size: 26px;
    }

    .teacher_subtitle{
        font-size: 26px;
    }




    .left__upper__spot{
        width: 277px;
        height: 686px;
        top: 950px;
    }

    .left__midth__spot{
        width: 306px;
        height: 504px;
        bottom: -2600px;
    }

    .left__lower__spot{
        width: 196px;
        height: 446px;
        margin-bottom: -500px;
    }



    .right__upper__spot{
        width: 269px;
        height: 469px;
        margin-left: 580px;
    }

    .right__midth__spot{
        width: 184px;
        height: 408px;
        margin-left: 665px;
    }

    .right__lower__spot{
        width: 233px;
        height: 485px;
        margin-left: 615px;
    }

}



@media (max-width:830px){
    .container{
        max-width: 550px;
    }



    .about__main__title{
        font-size: 110px;
    }

    .club__title{
        font-size: 39px;
    }

    .code__title{
        font-size: 39px;
    }

    .coordinator__title{
        font-size: 39px;
    }

    .teacher__title{
        font-size: 39px;
    }




    .club_subtitle{
        font-size: 19px;
    }

    .code__subtitle{
        font-size: 19px;
    }

    .coordinator__subtitle{
        font-size: 19px;
    }

    .teacher_subtitle{
        font-size: 19px;
    }









    .left__upper__spot{
        width: 177px;
        height: 486px;
        top: 700px;
    }

    .left__midth__spot{
        width: 206px;
        height: 404px;
        bottom: -1500px;
    }

    .left__lower__spot{
        width: 196px;
        height: 346px;
        bottom: -1900px;
    }



    .right__upper__spot{
        width: 269px;
        height: 369px;
        margin-left: 420px;
        bottom: -750px;
    }

    .right__midth__spot{
        width: 284px;
        height: 308px;
        margin-left: 405px;
        bottom: -1500px;
    }

    .right__lower__spot{
        width: 233px;
        height: 385px;
        margin-left: 455px;
        bottom: -2500px;
    }


}









